.container{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.container>div{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
}